<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="question" class="com.springframework.bean.Question">

		<property name="id" value="11" />
		<property name="name" value="What is Java?" />
		<property name="answers">
			<map>
				<entry value="Java is a Programming Language" key="Ajay Kumar"></entry>
				<entry value="Java is a Platform" key="John Smith"></entry>
				<entry value="Java is an Island" key="Raj Kumar"></entry>
			</map>
		</property>


	</bean>
</beans>
