<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/Aniket/.m2/repository/javax/activation/javax.activation-api/1.2.0/javax.activation-api-1.2.0.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-aop/5.0.3.RELEASE/spring-aop-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-web/5.0.3.RELEASE/spring-web-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-context/5.0.3.RELEASE/spring-context-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/security/jacc/jboss-jacc-api_1.4_spec/1.0.0.Final/jboss-jacc-api_1.4_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/security/auth/message/jboss-jaspi-api_1.0_spec/1.0.0.Final/jboss-jaspi-api_1.0_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/interceptor/jboss-interceptors-api_1.1_spec/1.0.0.Final/jboss-interceptors-api_1.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/el/jboss-el-api_2.2_spec/1.0.0.Final/jboss-el-api_2.2_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/activation/activation/1.1/activation-1.1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/jstl/jstl/1.2/jstl-1.2.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/c.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fmt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/fn.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/permittedtaglibs.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/scriptfree.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/sql.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar/meta-inf/x.tld" project="springexample"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-webmvc/5.0.3.RELEASE/spring-webmvc-5.0.3.RELEASE.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-5.0.3.RELEASE.jar/meta-inf/spring-form.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-5.0.3.RELEASE.jar/meta-inf/spring.tld" project="springexample"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/resteasy/jaxrs-api/2.1.0.GA/jaxrs-api-2.1.0.GA.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-expression/5.0.3.RELEASE/spring-expression-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/xml/ws/jboss-jaxws-api_2.2_spec/1.0.0.Final/jboss-jaxws-api_2.2_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/jms/jboss-jms-api_1.1_spec/1.0.0.Final/jboss-jms-api_1.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/xml/soap/jboss-saaj-api_1.3_spec/1.0.0.Final/jboss-saaj-api_1.3_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/resource/jboss-connector-api_1.5_spec/1.0.0.Final/jboss-connector-api_1.5_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/transaction/jboss-transaction-api_1.1_spec/1.0.0.Final/jboss-transaction-api_1.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/xml/jaxrpc-api/1.1/jaxrpc-api-1.1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-beans/5.0.3.RELEASE/spring-beans-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/xml/bind/jaxb-api/2.3.1/jaxb-api-2.3.1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/inject/javax.inject/1/javax.inject-1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/hibernate/javax/persistence/hibernate-jpa-2.0-api/1.0.0.Final/hibernate-jpa-2.0-api-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/enterprise/cdi-api/1.0-SP4/cdi-api-1.0-SP4.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/hibernate/hibernate-validator/5.0.1.Final/hibernate-validator-5.0.1.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-tx/5.0.3.RELEASE/spring-tx-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/servlet/jsp/jboss-jsp-api_2.2_spec/1.0.0.Final/jboss-jsp-api_2.2_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/logging/jboss-logging/3.1.1.GA/jboss-logging-3.1.1.GA.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/jws/jsr181-api/1.0-MR1/jsr181-api-1.0-MR1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-jdbc/5.0.3.RELEASE/spring-jdbc-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/xml/registry/jboss-jaxr-api_1.0_spec/1.0.0.Final/jboss-jaxr-api_1.0_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/mysql/mysql-connector-java/5.1.30/mysql-connector-java-5.1.30.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/servlet/jboss-servlet-api_3.0_spec/1.0.0.Final/jboss-servlet-api_3.0_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/com/sun/faces/jsf-api/2.0.3-b05/jsf-api-2.0.3-b05.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/validation/validation-api/1.1.0.Final/validation-api-1.1.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-jcl/5.0.3.RELEASE/spring-jcl-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/enterprise/deploy/jboss-jad-api_1.2_spec/1.0.0.Final/jboss-jad-api_1.2_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/com/fasterxml/classmate/0.8.0/classmate-0.8.0.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/stax/stax-api/1.0.1/stax-api-1.0.1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/annotation/jboss-annotations-api_1.1_spec/1.0.0.Final/jboss-annotations-api_1.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/springframework/spring-core/5.0.3.RELEASE/spring-core-5.0.3.RELEASE.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/xml/rpc/jboss-jaxrpc-api_1.1_spec/1.0.0.Final/jboss-jaxrpc-api_1.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/junit/junit/3.8.1/junit-3.8.1.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/mail/mail/1.4.2/mail-1.4.2.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/javax/servlet/jstl/1.2/jstl-1.2.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/c-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/c-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/c.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/fmt-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/fmt-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/fmt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/fn.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/permittedtaglibs.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/scriptfree.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/sql-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/sql-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/sql.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/x-1_0-rt.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/x-1_0.tld" project="springexample"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jstl-1.2.jar-1/meta-inf/x.tld" project="springexample"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/ejb/jboss-ejb-api_3.1_spec/1.0.0.Final/jboss-ejb-api_3.1_spec-1.0.0.Final.jar"/>
  <path value="C:/Users/Aniket/.m2/repository/org/jboss/spec/javax/xml/bind/jboss-jaxb-api_2.2_spec/1.0.0.Final/jboss-jaxb-api_2.2_spec-1.0.0.Final.jar"/>
 </paths>
 <validation>
  <core validator-id="jsf-verification"/>
  <core validator-id="jboss.cdi.core"/>
  <el>
   <linked-el length="16" name="%0" offset="842" path="%1"/>
   <linked-el length="23" name="%2" offset="1663" path="%1"/>
   <linked-el length="14" name="%2" offset="1505" path="%1"/>
   <linked-el length="42" name="%2" offset="1745" path="%1"/>
   <linked-el length="19" name="%2" offset="1702" path="%1"/>
   <linked-el length="20" name="%2" offset="1435" path="%1"/>
   <linked-el length="18" name="%2" offset="1595" path="%1"/>
   <linked-el length="16" name="%2" offset="1564" path="%1"/>
   <linked-el length="44" name="%2" offset="1820" path="%1"/>
   <linked-el length="18" name="%2" offset="1629" path="%1"/>
   <linked-el length="13" name="%2" offset="1406" path="%1"/>
   <linked-el length="19" name="%2" offset="1470" path="%1"/>
   <linked-el length="14" name="%2" offset="1534" path="%1"/>
   <linked-el length="23" name="%3" offset="1663" path="%1"/>
   <linked-el length="14" name="%4" offset="1534" path="%1"/>
   <linked-el length="14" name="%5" offset="4426" path="%6"/>
   <linked-el length="14" name="%5" offset="4325" path="%7"/>
   <linked-el length="17" name="%8" offset="2089" path="%9"/>
   <linked-el length="17" name="%8" offset="1612" path="%9"/>
   <linked-el length="17" name="%8" offset="1451" path="%9"/>
   <linked-el length="17" name="%8" offset="1771" path="%9"/>
   <linked-el length="17" name="%8" offset="1931" path="%9"/>
   <linked-el length="15" name="%10" offset="3658" path="%6"/>
   <linked-el length="15" name="%10" offset="3556" path="%7"/>
   <linked-el length="9" name="%11" offset="1375" path="%1"/>
   <linked-el length="16" name="%12" offset="1564" path="%1"/>
   <linked-el length="18" name="%13" offset="1629" path="%1"/>
   <linked-el length="14" name="%14" offset="3066" path="%7"/>
   <linked-el length="14" name="%14" offset="3168" path="%6"/>
   <linked-el length="17" name="%15" offset="2089" path="%9"/>
   <linked-el length="17" name="%15" offset="1612" path="%9"/>
   <linked-el length="17" name="%15" offset="1451" path="%9"/>
   <linked-el length="17" name="%15" offset="1771" path="%9"/>
   <linked-el length="17" name="%15" offset="1931" path="%9"/>
   <linked-el length="47" name="%16" offset="904" path="%1"/>
   <linked-el length="17" name="%16" offset="952" path="%1"/>
   <linked-el length="14" name="%17" offset="1505" path="%1"/>
   <linked-el length="18" name="%18" offset="1595" path="%1"/>
   <linked-el length="19" name="%19" offset="1702" path="%1"/>
   <linked-el length="19" name="%20" offset="1470" path="%1"/>
   <linked-el length="47" name="%21" offset="904" path="%1"/>
   <linked-el length="17" name="%21" offset="952" path="%1"/>
   <linked-el length="42" name="%22" offset="1745" path="%1"/>
   <linked-el length="44" name="%22" offset="1820" path="%1"/>
   <linked-el length="13" name="%22" offset="1406" path="%1"/>
   <linked-el length="20" name="%23" offset="1435" path="%1"/>
  </el>
 </validation>
 <aliases>
  <alias path="pageCount" value="%0"/>
  <alias path="student" value="%2"/>
  <alias path="student.firstAttempt" value="%3"/>
  <alias
   path="/springexample/src/main/webapp/WEB-INF/views/editstudent.jsp" value="%6"/>
  <alias path="student.dob" value="%4"/>
  <alias path="subjects" value="%5"/>
  <alias path="spring.version" value="%8"/>
  <alias path="countries" value="%10"/>
  <alias path="list" value="%11"/>
  <alias path="student.email" value="%12"/>
  <alias path="student.country" value="%13"/>
  <alias path="sections" value="%14"/>
  <alias path="spring" value="%15"/>
  <alias path="theCount" value="%16"/>
  <alias path="student.sex" value="%17"/>
  <alias path="/springexample/src/main/webapp/WEB-INF/views/enroll.jsp" value="%7"/>
  <alias path="student.section" value="%18"/>
  <alias path="/springexample/pom.xml" value="%9"/>
  <alias
   path="/springexample/src/main/webapp/WEB-INF/views/viewstudents.jsp" value="%1"/>
  <alias path="student.subjects" value="%19"/>
  <alias path="student.lastName" value="%20"/>
  <alias path="theCount.count" value="%21"/>
  <alias path="student.id" value="%22"/>
  <alias path="student.firstName" value="%23"/>
 </aliases>
 <includes/>
 <uris>
  <uri value="http://java.sun.com/jsp/jstl/core">
   <prefix>c</prefix>
  </uri>
  <uri value="http://www.springframework.org/tags/form">
   <prefix>form</prefix>
  </uri>
 </uris>
</kb-project>
