<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean name="address" class="com.springframework.bean.Address">
<property name="city" value="Ahemdabad"/>
<property name="state" value="Gujarat"/>
<property name="country" value="India"/>
</bean>

<bean name="employee" class="com.springframework.bean.Employee">
<property name="id" value="101"/>
<property name="name" value="Aniket Gajjar"/>
<property name="address" ref="address"></property>
</bean>
</beans>
